﻿@model IQueryable<RandomQuotes.Models.QuotesViewModel>
@using Humanizer

@{
    ViewData["Title"] = "Quotes Home";
}

<div class="text-center">
    <h1 class="display-4">Quotes Home</h1>
</div>
<div class="text-center">
    <span>
        <a class="btn btn-primary" asp-action="Add">Add a Quote</a>
    </span>
</div>

<div>
    @foreach (var r in Model)
    {
    <div class="jumbotron">
        <p class="text-primary">@r.Quote</p>
        <span class="text-muted">By @r.Author,</span>
        <span class="">Created @r.CreatedAt.Humanize()</span>
        <div>
            <span>
                <a class="btn btn-primary" asp-action="Edit" asp-route-id="@r.Id">Edit</a>
            </span>
            <span>
                <a class="btn btn-primary" asp-action="Delete" asp-route-id="@r.Id">Delete</a>
            </span>
        </div>
    </div>
    }
</div>